#adsblock{
	height: 362px;
	background-color: white;
	border-top: 1px solid silver;
}

#adsblocksmall{
	height: 180px;
	border-top: 1px solid silver;
}
	
#slidepix{
	float: left;
	width: 725px;
	height: 322px;
	margin: 20;
	background-color: red;
	font-style: italic;
	background-image: url('/store/images/newyear.png');
}

#ads{
	float: left;
	width: 175px;
	height: 322px;
	margin-top: 20;
	<!--
	background-color: yellow;
	-->
}

.ads1 {
	width: 175px;
	height: 90px;
	margin-top: 16;
	background-color: orange;
}

.ads2 {
	width: 175px;
	height: 90px;
	margin-top: 10;
	margin-bottom:10;
	background: orange;
}

.ads3 {
	width: 175px;
	height: 90px;
	margin-top: 10;
	background: orange;
}

.smallbox {
	height: 30px;
	background-color: white;
}

.adsbrand {
	float: left;
	height: 140px;
	width: 748px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.adsbrandside {
	float: left;
	width: 200px;
	height: 140px;
	margin-top: 20;
	background-color: black;
}

.adscat {
	float: left;
	height: 140px;
	width: 930px;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 20px;
}
