h1{
	color: #e243c9;
}

body{
	font-size: 100%;
}

#container{
	width: 964px; margin: 0 auto;
	background-color: white;
}

#banner{
	height: 142px;
	background-image: url('/store/images/logo960.jpg');
	background-repeat: no-repeat;
	background-color: white;
	opacity: 0.7;
}

#aboutusblock{
	width: 750px;
	height: 400px;
	border-radius: 20px;
	background-color: BCD74D;
	margin: 50px auto;
}

.afrologo{
	float: left;
	width: 100px;
	height: 100px;	
	margin-top: 40px;
	margin-left: 40px;
	background: url('/store/images/afrologo.png') no-repeat;
}

.afroabout{
	float: left;
	width: 460px;
	height: 300px;
	margin-top: 40px;
	margin-left: 80px;
	color: white;
	text-align: justify;
	font: 0.9em "Myriad Pro", "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

#redirectblock{
	width: 400px;
	height: 270px;
	border-radius: 20px;
	background-color: BCD74D;
	margin: 100px auto;
	border: 3px hidden silver;
}

.redirectmsg{
	height: 50px;
	text-align: center;
	padding-top: 15px;
	color: white;
	font: bold 1.5em "Myriad Pro", "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;

}

.circleblock{
	width: 32px;
	height: 32px;
	//border: 1px solid white;
	margin-left: 180px;
	margin-top: 30px;
}

.waitblock{
	height: 50px;
	margin-top: 30px;
	color: white;
	font: 1.2em "Myriad Pro", "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	text-align: center;
}


#footer{
	margin-left: auto;
    margin-right: auto;
	height: 100px;
	text-align: center;
}

.copyright{
	font: 0.7em Helvetica, "Helvetica Neue", Arial, Geneva, sans-serif;
}



