h1{
	color: #e243c9;
}

#container{
	width: 960px; margin: 0 auto;
	background-color: white;
}

#banner{
	height: 165px;
	background-color: orange;
}
	
#menu{
	height: 23px;
	background-color: gray;
	border-bottom: 1px solid silver;
}

.menublock{
	width: 160px;
	height: 23px;
	background: white;
	text-align: center;
	font: 13px "Lucida Grande", Lucida, Verdana, sans-serif;
}

#adsblock{
	height: 362px;
	background-color: white;
}
	
#slidepix{
	float: left;
	width: 725px;
	height: 322px;
	margin: 20;
	background-color: red;
}

#ads{
	float: left;
	width: 175px;
	height: 322px;
	margin-top: 20;
	background-color: yellow;
}

.ads1 {
	width: 175px;
	height: 90px;
	margin-top: 16;
	background: orange;
}

.ads2 {
	width: 175px;
	height: 90px;
	margin-top: 10;
	margin-bottom:10;
	background: orange;
}

.ads3 {
	width: 175px;
	height: 90px;
	margin-top: 10;
	background: orange;
}
	
#products{
	display: block;
	background-color: lime;
}

.searchbox{
	width: 400px;
	height: 23px;
	background-color: silver;
	margin: 10px;
	font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
}
.block {
	width: 225px;
	height: 320px;
	margin: 6px;	
	background: white;
	border: 1px solid gray;
}

.float {
	float: left;
}

.photoblock {
	width: 185px;
	height: 215px;
	background: gray;
	margin-top: 20px;
	margin-right: 20px;
	margin-left: 20px;
}

.brandblock {
	width: 225px;
	height: 34px;
	background: white;
	border-bottom: 1px solid gray;
	font: 25px "Brush Script MT";
	text-align: center;
}

.nameblock {
	width: 185px;
	height: 28px;
	background: white;
	margin-right: 20px;
	margin-left: 20px;
	font: 15px "Lucida Grande", Lucida, Verdana, sans-serif;
}

.priceblock1 {
	float: left;
	width: 75px;
	height: 20px;
	margin-left: 20px;
	background: white;
	text-decoration: line-through;
	font: 15px "Lucida Grande", Lucida, Verdana, sans-serif;
}

.priceblock2 {
	float: left;
	width: 75px;
	height: 20px;
	background: white;
	color: red;
	font: 15px "Lucida Grande", Lucida, Verdana, sans-serif;
}

.space {
	height: 20px;
	background: white;
	clear: left;
	border-bottom: 1px solid silver;
}

.itemfound{
	height: 50px;
	background: white;
	border-bottom: 1px solid silver;
	margin-bottom: 20px;
	font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
}

#footer{
	height: 100px;
	background-color: orange;
}



