h1{
	color: #e243c9;
}

body{
	font-size: 100%;
}

#container{
	width: 960px; margin: 0 auto;
	background-color: white;
}

#banner{
	height: 142px;
	background-image: url('/store/images/logo960.jpg');
	background-repeat: no-repeat;
	background-color: white;
	opacity: 0.7;
}
	

#footer{
	height: 100px;
	background-color: orange;
}



