#containerPopup{
	width: 815px; height: 550px; margin: 0 auto;
	border-radius: 20px;
	border: 4px solid silver;
	background-color: gray;
}

.xbox{
	width: 30px;
	height: 30px;
	background-image: url('/store/images/close.png');
	background-repeat: no-repeat;	

}

.xbox:hover{
	opacity: 0.5;
}

#photobox{
	float: left;
	height: 448px;
	margin-top: 20px;
	margin-left: 20px;
}
	
#mainphoto{
	float: left;
	width: 350px;
	height: 448px;
	background-color: gray;
	border: 1px solid silver;
	overflow: hidden;
}

#subphoto{
	float: left;
	width: 108px;
	height: 448px;
	margin-left: 12px;
}

.photo1 {
	width: 108px;
	height: 138px;
	background: gray;
	border: 1px solid silver;
	overflow: hidden;
}

.photo2 {
	width: 108px;
	height: 138px;
	background: gray;
	margin-top: 15px;
	border: 1px solid silver;
	overflow: hidden;
}

.photo3 {
	width: 108px;
	height: 138px;
	background: gray;
	margin-top: 15px;
	border: 1px solid silver;
	overflow: hidden;
}

#productdetailbox{
	float: left;
	width: 300px;
	margin-left: 14px;
}


.brandandnamebox {
	float: left;
	width: 200px;
	height: 100px;
	color: white;
	font-family: "Myriad Pro", "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

.brandbox {
	height: 30px;
	font: 1.2em bold;
	text-transform: uppercase;
	color: white;
	text-align: left;
}

.namebox {
	height: 70px;
	font: 1em;
	text-transform: capitalize;
	color: white;
	text-align: left;
}


.pricebox {
	float: left;
	width: 70px;
	height: 40px;
	margin-left: 5px;
	font: 1em bold "Myriad Pro", Helvetica, "Helvetica Neue", Arial, Geneva, sans-serif;
	color: white;
	text-align: right;
	
}

.pricebox1 {
	width: 70px;
	height: 20px;
}

.pricebox1_line {
	width: 70px;
	height: 20px;
	text-decoration: line-through;
	color: white;
}
.pricebox2 {
	width: 70px;
	height: 20px;
	color: orange;
}

.productdetail{
	clear: both;
	width: 270px;
	font: 0.725em bold "Myriad Pro", Helvetica, "Helvetica Neue", Arial, Geneva, sans-serif;
	text-align: justify;
	color: black;
	background-color: whitesmoke;
	padding: 10px;
	border: 1px outset silver;
}

.shipping{
	width: 350px;
	height: 25px;
	font: 1.2em bold "Myriad Pro", Helvetica, "Helvetica Neue", Arial, Geneva, sans-serif;
	color: orange;
	text-align: left;
	text-transform: capitalize;
}

.shopbutton{
	width: 153px;
	height: 100px;
	margin-top: 20px;
	margin-left: 120px;
	background-color: grey;
	background-repeat: no-repeat;	
}

.shopbutton:hover{
	opacity: 0.5;
}


