#maincatbox{
	width: 300;
	margin-left: 40px;	
	position:absolute;
	left:-50px;
	top:22px;
	visibility:hidden;
}

#mainassbox{
	width: 300;
	margin-left: 40px;	
	position:absolute;
	left:-40px;
	top:22px;
	visibility:hidden;
}

#mainsalebox{
	width: 300;
	margin-left: 40px;	
	position:absolute;
	left:-60px;
	top:22px;
	visibility:hidden;
}

#mainbrandbox{
	width: 510;
	margin-left: 40px;	
	position:absolute;
	left:-52px;
	top:22px;
	visibility:hidden;
}

.subbrandbox{
	border-radius: 20px;
	border: 4px solid #F37139;
	background-color: white;
	opacity: 0.9;
	margin-top: -2px;	
}


.cattop{
	height: 16px;
	background-image: url('/store/images/triangle.png');
	background-repeat: no-repeat;
	margin-left: 20px;
}

.cat{
	border-radius: 20px;
	border: 4px solid #F37139;
	background-color: white;
	opacity: 0.9;
	margin-top: -2px;	
}

.cat1{
	float: left;
	width: 111px;
	margin-top: 15px;
	margin-left: 18px;
	text-transform: uppercase;
}

.cat2{
	float: left;
	width: 145px;
	margin-top: 15px;
	margin-left: 10px;
	text-transform: capitalize;
	border-left: 1px solid silver;
	padding-left: 5px;
}

.brand1{
	width: 150px;
	margin-top: 15px;
	margin-left: 18px;
	text-transform: capitalize;
	float: left;
}

.brand2{
	width: 150px;	
	margin-top: 15px;
	margin-left: 10px;
	text-transform: capitalize;
	border-left: 1px solid silver;
	padding-left: 5px;
	float: left;
}

.brand3{
	width: 150px;	
	margin-top: 15px;
	margin-left: 10px;
	text-transform: capitalize;
	border-left: 1px solid silver;
	padding-left: 5px;
	float: left;
}

.catbox{
	height: 20px;
}

.catbox:hover{
	height: 20px;
	text-decoration: underline;
}

.deco{
	font: 0.8em Helvetica, "Helvetica Neue", Arial, Geneva, sans-serif;
	text-decoration: none;
	color: black;
}
