#nav{
	list-style: none;
	float: left;
	width: 100%;
	
}

#nav li{
	    float: left;
	    margin-right: 70px;
	    position:relative;
}

#nav a{
	   display: block;
	   height: 1px;
	   font: bold 0.8125em "Myriad Pro", Helvetica, "Helvetica Neue", Arial, Geneva, sans-serif;
	   color: gray;
	   text-transform: uppercase;
	   text-decoration: none;
}


#nav a:hover{
		color: #FF5500;
}
