#products{
	display: block;
	background-color: white;
	border-top: 1px solid silver;
}

.navigatebox{
	height: 23px;
	background-color: orange;
	margin: 10px;
	padding-top: 3px;
	padding-left: 3px;
}

.navigatefont1{
	text-transform: uppercase;
	font: bold 0.9em Helvetica, "Helvetica Neue", Arial, Geneva, sans-serif;
	text-decoration: none;
	color: black;
}

.navigatefont2{
	text-transform: capitalize;
	font: bold 0.9em Helvetica, "Helvetica Neue", Arial, Geneva, sans-serif;
	text-decoration: none;
	color: white;
}


.block {
	width: 225px;
	height: 355px;
	margin: 6px;	
	background: white;
	border: 1px solid gray;
}

.float {
	float: left;
}

.photoblock {
	width: 185px;
	height: 237px;
	background: gray;
	margin-top: 20px;
	margin-right: 20px;
	margin-left: 20px;
	border: 1px solid silver;
	overflow: hidden;
}

.photoblock:hover {
	opacity: 0.3;
}

.brandblock {
	width: 225px;
	height: 34px;
	background: white;
	border-bottom: 1px solid gray;
	text-align: center;
}

.brandfont {
	font: 1.2em "Lucida Grande", Lucida, Verdana, sans-serif;
	text-transform: capitalize;
	text-decoration: none;
	color: black;	
}

.nameblock {
	width: 185px;
	height: 30px;
	background: white;
	margin-right: 20px;
	margin-left: 20px;
	border-bottom: 1px solid silver;
	font: 0.8em Helvetica, "Helvetica Neue", Arial, Geneva, sans-serif;
	text-transform: capitalize;
	padding-top: 2px;
}

.priceblock_font{
	font: 15px Helvetica, "Helvetica Neue", Arial, Geneva, sans-serif;
}

.priceblock1 {
	float: left;
	width: 125px;
	height: 20px;
	margin-left: 20px;
	margin-top: 5px;
	background: white;
	}

.priceblock1_line {
	float: left;
	width: 125px;
	height: 20px;
	margin-left: 20px;
	margin-top: 5px;
	background: white;
	text-decoration: line-through;
}

.priceblock2 {
	float: left;
	width: 25px;
	height: 20px;
	margin-top: 5px;
	background: white;
	color: red;
	text-align: right;
}


.space {
	height: 20px;
	background: white;
	clear: left;
	border-bottom: 1px solid silver;
}

.itempage{
	height: 30px;
	border-bottom: 1px solid silver;
	margin-bottom: 20px;
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	padding-top: 9px;
}

.pagebox{
	width: 20px;
	height:27px;
	background-color: orange;
	margin-left: 20px;
}

.pagecount{
	width: 250px;
	height: 25px;
	margin-left: 700px;
	text-align: center;
	font: bold 1.25em Georgia, "Times New Roman", Times, serif;
	color: black;
}

.pagebox:hover{
	color: white;
}
